.container {
  display: flex;
  flex-direction: row-reverse;
  /* background-color: red; */
  padding: 1rem 0 1rem 2rem;
}
.image_container img {
  width: 3.5rem;
}
.text_container {
  padding: 0 0.7rem 0 0;
}
.text_container p {
  font-size: 14px;
  font-weight: 100;
  text-align: right;
}

.details {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  margin-top: 0.4rem;
}
.details span {
  color: #ffffff99;
  font-size: smaller;
  font-weight: 100;
  text-align: right;
}
