.navbar {
  position: fixed;
  top: 0;
  z-index: 9999;
  right: 0;
  left: 0;
}
.navbar_fixed {
  position: fixed;
  top: 0;
  z-index: 9999;
  right: 0;
  left: 0;
}

.main_container {
  background-color: white;
  height: 90px;
  max-width: 1192px;
  box-shadow: 0 1px 8px rgb(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 30px;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 30px;
  justify-content: space-between;
}

.main_container_fixed {
  background-color: white;
  height: 90px;
  max-width: 100%;
  box-shadow: 0 1px 8px rgb(0, 0, 0, 0.1);
  margin: 0 auto;

  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 30px;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: row-reverse;
  color: black;
  gap: 20px;
}

.links li {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  font-family: "shabnam";
}

.navbar_icons {
  display: flex;
  gap: 30px;
  margin-top: 0.3rem;
  font-size: 1.2rem;
}

.navbar_icons a {
  position: relative;
  color: rgb(0, 0, 0);
}

.navbar_icons a span {
  left: -9px;
  border-radius: 100%;
  top: -7px;
  font-size: 0.5rem;
  padding: 0.2rem 0.4rem;
  background: rgb(52, 24, 14);
  color: white;
  position: absolute;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > a {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 14px;
  font-weight: 500;
}

.dropdown:hover .dropdown_items {
  display: flex;
}
.dropdown_items {
  display: none;
  top: 40px;
  right: -5px;
  flex-wrap: nowrap;
  position: absolute;
  flex-direction: column;
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
  padding: 11px 15px;
  min-width: 220px;
  background-color: #f9f9f9;
  color: rgb(113, 113, 113);
  transition: 2s;
}

.dropdown_items a {
  font-size: 14px;
  color: rgb(113, 113, 113);
  padding: 6px 0;
}

.dropdown_items a:hover {
  color: rgb(40, 40, 40);
}

.dropdown_icon {
  color: rgb(147, 147, 147);
  font-size: 0.7rem;
  position: relative;
  right: 5px;
}
